<footer class="footer py-3 bg-light">
  <div class="container text-center">
    <span class="text-muted">
      © {% now "Y" %} Smart Driving Systems - Coded by
      <a
        href="https://www.linkedin.com/in/ferhatakalan"
        target="_blank"
        rel="noopener noreferrer"
        class="text-decoration-none"
        >Ferhat Akalan</a
      >
      <a
        href="https://github.com/FerhatAkalan"
        target="_blank"
        rel="noopener noreferrer"
        class="text-decoration-none"
        ><i class="fab fa-github me-1"></i> GitHub</a
      >
      &
      <a
        href="https://www.linkedin.com/in/betulmumcu"
        target="_blank"
        rel="noopener noreferrer"
        class="text-decoration-none"
        >Betül Mumcu</a
      >
      <a
        href="https://github.com/betuullm"
        target="_blank"
        rel="noopener noreferrer"
        class="text-decoration-none"
        ><i class="fab fa-github me-1"></i> GitHub</a
      >
      All rights reserved.
    </span>
  </div>
</footer>
