<html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>{% block title %}Smart Driving Systems{% endblock %}</title>
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
      />
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
      <!-- Header -->
      <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container">
            <a class="navbar-brand" href="#">Smart Driving Systems <i class="fa-solid fa-car"></i></a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="/"><i class="fas fa-home"></i> Home Page</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'user_login'%}"><i class="fas fa-sign-in-alt"></i> Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_logout'%}"><i class="fas fa-sign-in-alt"></i> Logout</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
  
      <!-- Content -->
      <div class="content">{% block content %}
        <div class="container mt-3">
            <div class="row">
                <div class="col-12">
                    <h1>Login</h1>
                    <hr>
                    <form method="POST">
                        {% csrf_token %}
                        {% if error %}
                        <div class="alert alert-danger">
                            {{error}}
                        </div>
                        {% endif %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" name="username" id="username" class="form-control" required value="{% if username %}{{username}}{% endif %}">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" name="email" id="email" class="form-control" required value="{% if email %}{{email}}{% endif %}">
                        </div>
                        
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="text" name="password" id="password" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="repassword" class="form-label">Re-Password</label>
                            <input type="text" name="repassword" id="repassword" class="form-control" required>
                        </div>
                        <button type="submit" value="btn btn-primary">Register</button>
                    </form>
                </hr>
                </div>
            </div>
        </div>
 
        {% endblock %}</div>
  
      <!-- Footer -->
      <footer class="footer mt-auto py-3 bg-light fixed-bottom">
        <div class="container text-center">
          <span class="text-muted">
            © {% now "Y" %} Smart Driving Systems - Coded by
            <a
              href="https://www.linkedin.com/in/ferhatakalan"
              target="_blank"
              rel="noopener noreferrer"
              class="text-decoration-none"
              >Ferhat Akalan</a
            >
            <a
              href="https://github.com/FerhatAkalan"
              target="_blank"
              rel="noopener noreferrer"
              class="text-decoration-none"
              ><i class="fab fa-github me-1"></i> GitHub</a
            >
            &
            <a
              href="https://www.linkedin.com/in/betulmumcu"
              target="_blank"
              rel="noopener noreferrer"
              class="text-decoration-none"
              >Betül Mumcu</a
            >
            <a
              href="https://github.com/betuullm"
              target="_blank"
              rel="noopener noreferrer"
              class="text-decoration-none"
              ><i class="fab fa-github me-1"></i> GitHub</a
            >
          </span>
        </div>
      </footer>
      <!-- Bootstrap JS and dependencies -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
  </html>
  