{% extends 'layout.html' %} {% load static %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="text-center mt-5">About Us</h1>
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget
        consequat urna. Sed pretium vestibulum nulla, a volutpat justo convallis
        nec.
      </p>
      <p class="text-center">
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
        cubilia Curae; Proin et elit risus.
      </p>
      <p class="text-center">
        Integer molestie nisi nec erat convallis, in ultricies nisi vehicula.
        Donec quis viverra leo, id molestie turpis. Integer sit amet magna in
        nisi feugiat pharetra.
      </p>
      <div class="text-center">
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
