{% extends 'layout.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Driver Dangerous Behavior Detection System</h5>
                </div>
                <div class="card-body">
                    <p class="mb-3">Please upload both in-car and out-car videos. Once the files are processed you will be redirected to the results page.</p>
                    <form method="post" enctype="multipart/form-data" id="uploadForm" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="driver" class="form-label">Select Driver</label>
                            <select class="form-control" id="driver" name="driver" required>
                                <option value="" selected disabled>Select a driver</option>
                                {% for driver in form.driver.field.queryset %}
                                    <option value="{{ driver.id }}">{{ driver.driver_name }} {{ driver.driver_surname }}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                Please select a driver.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="fileInputInside" class="form-label">Upload In-car Video (Supported formats: JPG, MP4)</label>
                            <input type="file" class="form-control" id="fileInputInside" name="car_inside_file" onchange="checkFileType(this)" required accept=".jpg,.mp4">
                            <div class="invalid-feedback" id="fileTypeErrorInside" style="display:none;">Only JPG or MP4 files can be uploaded.</div>
                        </div>
                        <div class="mb-3">
                            <label for="fileInputOutside" class="form-label">Upload Out-car Video (Supported formats: JPG, MP4)</label>
                            <input type="file" class="form-control" id="fileInputOutside" name="car_outside_file" onchange="checkFileType(this)" required accept=".jpg,.mp4">
                            <div class="invalid-feedback" id="fileTypeErrorOutside" style="display:none;">Only JPG or MP4 files can be uploaded.</div>
                        </div>
                        <div class="mb-3">
                            <label for="start_time" class="form-label">Start Time</label>
                            <input type="datetime-local" class="form-control" id="start_time" name="start_time" required>
                        </div>
                        <div class="mb-3">
                            <label for="end_time" class="form-label">End Time</label>
                            <input type="datetime-local" class="form-control" id="end_time" name="end_time" required>
                        </div>
                        <div class="text-center" id="uploadButtonContainer">
                            <button type="submit" class="btn btn-primary btn-lg"><i class="fa-solid fa-file-arrow-up"></i> Upload</button>
                        </div>
                        <div class="text-center mb-3">
                            <div class="spinner-border text-primary" role="status" id="spinner" style="display:none;">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    // Dosya türünü kontrol et
    function checkFileType(input) {
        var file = input.files[0];
        var fileType = file.type;
        var allowedTypes = ['image/jpeg', 'video/mp4'];
        if (!allowedTypes.includes(fileType)) {
            // Dosya türü desteklenmiyorsa uygun hata mesajını göster
            var errorId = input.id === 'fileInputInside' ? '#fileTypeErrorInside' : '#fileTypeErrorOutside';
            $(errorId).show();
            input.value = ''; // Dosyayı temizle
        } else {
            // Dosya türü destekleniyorsa hata mesajını gizle
            var errorId = input.id === 'fileInputInside' ? '#fileTypeErrorInside' : '#fileTypeErrorOutside';
            $(errorId).hide();
        }
    }

    // Dosya yükleme işlemi sırasında spinner'ı ve loading metnini göster
    $(document).ready(function() {
        $('#uploadForm').submit(function(event) {
            event.preventDefault(); // Formun gönderilmesini engelle
            if (this.checkValidity() === false) {
                event.stopPropagation(); // Olayın üst sınıfa yayılmasını engelle
            } else {
                $('#spinner').show();
                $('#uploadButtonContainer').hide();
                this.submit(); // Formu gönder
            }
            this.classList.add('was-validated'); // Bootstrap'den gelen stilleri uygula
        });
    });
</script>
</body>
</html>
{% endblock %}
