{% extends 'layout.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Driver Dangerous Behavior Detection System</h5>
                </div>
                <div class="card-body">
                    <p class="mb-3">Please upload in-car video. Once the file is processed you will be redirected to the results page.</p>
                    <form method="post" enctype="multipart/form-data" id="uploadForm" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="fileInput" class="form-label">Select File (Supported formats: JPG, MP4)</label>
                            <input type="file" class="form-control" id="fileInput" name="file" onchange="checkFileType(this)" required accept=".jpg,.mp4">
                            <div class="invalid-feedback" id="fileTypeError" style="display:none;">Sadece JPG veya MP4 dosyaları yüklenebilir.</div>
                        </div>
                        <div class="text-center mb-3">
                            <div class="spinner-border text-primary" role="status" id="spinner" style="display:none;">
                                <span class="visually-hidden">Yükleniyor...</span>
                            </div>
                            <div id="loading" style="display:none;">Loading...</div>
                        </div>
                        <div class="mb-3">
                            <label for="driver" class="form-label">Select Driver</label>
                            <!-- Kullanıcının sürücü seçimi yapabilmesi için bir dropdown alanı -->
                            <select class="form-control" id="driver" name="driver" required>
                                {% for driver in form.driver.field.queryset %}
                                    <option value="{{ driver.id }}">{{ driver.driver_name }} {{ driver.driver_surname }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="start_time" class="form-label">Start Time</label>
                            <input type="datetime-local" class="form-control" id="start_time" name="start_time" required>
                        </div>
                        <div class="mb-3">
                            <label for="end_time" class="form-label">End Time</label>
                            <input type="datetime-local" class="form-control" id="end_time" name="end_time" required>
                        </div>
                        <div class="text-center" id="uploadButtonContainer">
                            <button type="submit" class="btn btn-primary btn-lg"><i class="fa-solid fa-file-arrow-up"></i> Upload</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" ></script>
<script>
    // Dosya türünü kontrol et
    function checkFileType(input) {
        var file = input.files[0];
        var fileType = file.type;
        var allowedTypes = ['image/jpeg', 'video/mp4'];
        if (!allowedTypes.includes(fileType)) {
            $('#fileTypeError').show();
            input.value = ''; // Dosyayı temizle
        } else {
            $('#fileTypeError').hide();
        }
    }
    // Dosya yükleme işlemi sırasında spinner'ı ve loading metnini göster
    $('form').submit(function(){
        // Dosya seçilmediyse formu gönderme
        if ($('#fileInput').get(0).files.length === 0) {
            $('#fileInput').addClass('is-invalid');
            return false;
        } else {
            $('#spinner').show();
            $('#loading').show();
            $('#uploadButtonContainer').hide(); // Yükle butonunu gizle
            return true;
        }
    });
</script>
</body>
</html>
{% endblock %}