{% extends 'layout.html' %}
{% load static %}
{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        background-color: #f9f9f9;
        color: #333;
    }
    .card-header {
        background-color: #f8f9fa;
        border-bottom: none;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    
    .card-title {
        font-size: 1.5rem;
    }
    
    .card-body {
        padding: 2rem;
        justify-content:center;
    }
    
    .uploaded-file-preview {
        margin-bottom: 2rem;
    }
    
    .img-thumbnail {
        border: none;
        max-width: 100%;
        max-height: 100%;
    }
    
    .uploaded-file-preview video,
    .uploaded-file-preview img {
        width: 100%;
        height: auto;
    }
    /* Kart animasyonu */
    .card {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        animation: fadeInUp 0.5s ease both;
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* Buton animasyonu */
    .btn {
        transition: all 0.3s ease;
    }

    .btn:hover {
        transform: scale(1.05);
    }
</style>

<div class="container mt-3 mb-3">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Uploaded File Preview</h5>
                </div>
                <div class="card-body text-center">
                    <div class="uploaded-file-preview row">
                        <div class="col-md-6">
                            <h5>Upload In-car File:</h5>
                            {% if uploaded_file.car_inside_file %}
                            <!-- Araç içi dosya önizlemesi -->
                            {% if uploaded_file.car_inside_file.name|slice:'-4:' == '.mp4' %}
                                <video controls class="img-thumbnail img-fluid">
                                    <source src="{{ MEDIA_URL }}{{ uploaded_file.car_inside_file.url }}" type="video/mp4">
                                </video>
                            {% else %}
                                <img src="{{ MEDIA_URL }}{{ uploaded_file.car_inside_file.url }}" class="img-thumbnail img-fluid">
                            {% endif %}
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <h5>Upload Out-car File:</h5>
                            {% if uploaded_file.car_outside_file %}
                            <!-- Araç dışı dosya önizlemesi -->
                            {% if uploaded_file.car_outside_file.name|slice:'-4:' == '.mp4' %}
                                <video controls class="img-thumbnail img-fluid">
                                    <source src="{{ MEDIA_URL }}{{ uploaded_file.car_outside_file.url }}" type="video/mp4">
                                </video>
                            {% else %}
                                <img src="{{ MEDIA_URL }}{{ uploaded_file.car_outside_file.url }}" class="img-thumbnail img-fluid">
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="mt-3">
                        <!-- Driver bilgisi -->
                        <h5 class="mt-3">Trip Information</h5>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>Driver Name:</th>
                                    <td>{{ trip.driver.driver_name }}</td>
                                </tr>
                                <tr>
                                    <th>Driver Surname:</th>
                                    <td>{{ trip.driver.driver_surname }}</td>
                                </tr>
                                <tr>
                                    <th>Driver Licence:</th>
                                    <td>{{ trip.driver.driver_licence }}</td>
                                </tr>
                                <tr>
                                    <th>Starting Time:</th>
                                    <td>{{ trip.start_time }}</td>
                                </tr>
                                <tr>
                                    <th>Ending Time:</th>
                                    <td>{{ trip.end_time }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Detect butonu -->
                    <form id="detectForm" method="post" action="{% url 'results' %}">
                        {% csrf_token %}
                        <input type="hidden" name="file_id" value="{{ uploaded_file.id }}">
                        <input type="hidden" name="trip_id" value="{{ trip.id }}">
                        <button type="submit" class="btn btn-success btn-lg mt-3" id="detectButton">
                             Detect
                        </button>
                        <div class="spinner-border text-primary mt-3 d-none" role="status" id="spinner">
                            <div class="sr-only">Loading...</div>
                        </div>
                        <a href="{% url 'upload_file' %}" class="btn btn-danger btn-lg mt-3" id="cancelButton">
                             Cancel
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    $(document).ready(function() {
        // Detect button element
        const detectButton = $('#detectButton');
        // Spinner element
        const spinner = $('#spinner');
        // Click event listener for the detect button
        detectButton.on('click', function() {
            detectButton.hide();
            $('#cancelButton').hide();
            spinner.removeClass('d-none'); // Spinner'ı göster
            $.ajax({
                url: '/detectionapp/results/',
                type: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'  // Include CSRF token for Django
                },
                data: JSON.stringify({
                    'file_id': {{ uploaded_file.id }},
                    'trip_id': {{ trip.id }}
                }),
                dataType: 'json',
                success: function(data) {
                    console.log(data);
                    spinner.addClass('d-none'); // İşlem tamamlandığında spinner'ı gizle
                    detectButton.show();
                    $('#cancelButton').show();
                },
                error: function(error) {
                    console.error('Error:', error);
                    spinner.addClass('d-none'); // Hata durumunda da spinner'ı gizle
                    detectButton.show();
                    $('#cancelButton').show();
                }
            });
        });
    });
</script>
{% endblock %}
